{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-default shadow pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Package</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home text-muted"></i></a></li>
                <li class="breadcrumb-item"><a href="#" class="text-muted">Package</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Gold Holder</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;5000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Diamond Holder</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;20000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Diamond tier 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;50000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-6">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Diamond tier 2</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;100000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Diamond tier 3</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;500000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Diamond tier 4</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">&#8358;1000000</h1>
            <a href="https://justpaga.me/kcgamingnetworkslimited"><button type="button" class="w-100 btn btn-lg btn-primary">Unlock</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt-6">
    <!-- Dark table -->
    <div class="row">
      <div class="col">
        <div class="card bg-default shadow">
          
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
